<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="firebaseAuth.js"></script>
<style>
    .has-error {
    color: red;
}




</style>
<body>

<div ng-app="firebaseAuth" ng-controller="ctrl">

    <div class="container">
        <div style="margin-top:20px;">
            <div ng-if="optionSelected=='email'" style="display: table;margin: 0 auto;">
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="email" placeholder="email"
                               style="width: 300px;"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" type="password" ng-model="password" placeholder="password"
                               style="width: 300px;"><br>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" ng-disabled="!email || !password"
                        ng-click="login(email, password)" style="width: 300px;background-color: black;">Login
                </button>
                <br>
                <a href="#" ng-click="toggleOption(null)">Back</a>
                <div ng-if="message">
                    <span ng-class="{'has-error': loginError}">{{message}}</span>
                </div>
            </div>

            <div ng-show="!optionSelected" style="display: table;margin: 0 auto;">
                <div class="row" ng-show="!disableMailChimpTokenButton()">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" ng-click="loginUsingFaceBook()"
                                style="width:250px">Login Using FaceBook
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" ng-show="!disableMailChimpTokenButton()">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" ng-click="loginUsingGoogle()"
                                style="width:250px;background-color: green;">Login Using Google
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" ng-show="!disableMailChimpTokenButton()">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" ng-click="toggleOption('email')"
                                style="width:250px;background-color: black;">Login Using Email
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" ng-click="toggleOption('phoneNumber')"
                                style="width:250px;background-color: black;">Login Using PhoneNumber
                        </button>
                    </div>
                </div>

                <br>
                <a ng-show="!disableMailChimpTokenButton()" style="width: 250px;" class="btn btn-primary"
                   href="https://login.mailchimp.com/oauth2/authorize?response_type=code&client_id=883724299212&redirect_uri=http://127.0.0.1:8880/firebaseAuth.html">
                    Authorize User with MailChimp</a>
                <br>
                <br>
                <div class="row" ng-show="disableMailChimpTokenButton()">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" ng-click="getMailChimpToken()"
                                style="width:250px;background-color: black;">Get MailChimp Token
                        </button>
                    </div>
                    <div>
                        <a href="http://127.0.0.1:8880/firebaseAuth.html">Back</a>
                    </div>

                    <br>
                    <br>
                    <span>
                        {{mailChimpToken}}
                    </span>
                </div>
                <br>
                <div class="row" ng-if="user">
                    <span ng-class="{'has-error': loginError}">{{user}}</span>
                </div>
            </div>

            <div ng-show="optionSelected=='phoneNumber'" style="display: table;margin: 0 auto;"
                 id="recaptcha-container">
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="phone" placeholder="Phone Number"
                               style="width: 300px;"><br>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="sign-in-button"
                        ng-click="signInWithPhoneNumber(phone)" style="width: 300px;background-color: black;">Login
                </button>
            </div>
            <div ng-show="optionSelected=='verify'" style="display: table;margin: 0 auto;">
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="verificationCode" placeholder="code"
                               style="width: 300px;"><br>
                    </div>
                </div>

                <button type="button" class="btn btn-primary"
                        ng-click="validate(verificationCode)" style="width: 300px;background-color: black;">Validate
                </button>
                <span>{{phoneUser}}</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>